<div class="container">
    <div class="searchContainer">
        <input type="text" class="searchBar" (input)="onSearchInput($event)" placeholder="Search a Pokemon...">
      </div>      
<div class="title">
    <img src="../../assets/media/title.png" alt="Pokedex">
</div>
<div class="cards" *ngIf="pokemon.length > 0">
            <div *ngFor="let p of pokemon  | slice:0:20">
                <button class="card" (click)="goToDetails(p.id)">
                    <img class="card-img-top" [src]="p.image" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{p.name}}</h5>
                        <p class="card-text">Id: {{p.id}}</p>
                        <p class="card-text">Type: {{p.type}}</p>
                </div>
                </button>
</div>
</div>
<div class="buttons">
<button *ngIf="previous != ''" class="arrow-button" id="previous" (click)="loadMorePokemon(previous)"></button>
<button *ngIf="next != ''" class="arrow-button" id="next" (click)="loadMorePokemon(next)"></button>
</div>
</div>

